<div class="row">
  <div class="col-md-12 center">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <form class="text-center">
            <input type="text" class="form-control" placeholder="Player One">
            <h1>VERSUS:</h1>
            <input type="text" class="form-control" placeholder="Player Two">
        </form>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 footer">
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-2">
        <button (click)="GoBack()" type="button" class="btn btn-primary btn-md">Cancel</button>
      </div>
      <div class="col-md-2">
        <button routerLink="/board" type="button" class="btn btn-primary btn-md">Start Game</button>
      </div>
    </div>
  </div>
</div>