<div class="row">
  <div class="col-md-12 text-center center">
    <!-- <h1>
        MORE STUFF
      </h1> -->
  </div>
</div>
<div class="row">
  <div class="col-md-12 footer">
    <div class="row">
      <div class="col-md-8">
      </div>
      <div class="col-md-2">
        <button routerLink="/load-game" type="button" class="btn btn-primary btn-md">Load Game</button>
      </div>
      <div class="col-md-2">
        <button routerLink="/new-game" type="button" class="btn btn-primary btn-md">New Game</button>
      </div>
    </div>
  </div>
</div>