<div class="row">
  <div class="col-md-12 text-center center">
      <fa class="gargantuan" name="globe"></fa>
  </div>
</div>
<div class="row">
  <div class="col-md-12 footer">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
      </div>
      <div class="col-sm-3 col-lg-2">
        <button routerLink="/load-game" type="button" class="btn btn-primary">Load Game</button>
      </div>
      <div class="col-sm-3 col-lg-2">
        <button routerLink="/new-game" type="button" class="btn btn-primary">New Game</button>
      </div>
    </div>
  </div>
</div>