
table {
    margin-top: 10%;
}

tbody {
    font-family: Arial, Times, serif;
    // font-weight: bold;
    background-color: #581845;
    color: #FFC30F;
    font-size: .25em;
    min-height: 7em;
}

thead {
    font-family: Arial, Times, serif;
    font-weight: bold;
    background-color: #581845;
    color: #FFC30F;
    font-size: .35em;
    min-height: 7em;
}