<div class="row">
    <div class="col-md-12 center">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Player1 vs Player2</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>21515531</td>
                    <td>Rick vs Morty</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-md-1">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 footer">
      <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-md-2">
          <button (click)="GoBack()" type="button" class="btn btn-primary btn-md">Cancel</button>
        </div>
      </div>
    </div>
  </div>