@import  "../../styles.scss";

table {
    margin-top: 10%;
}

tbody {
    font-family: Arial, Times, serif;
    background-color: $jean;
    color: $babyBlue;
    font-size: .25em;
    min-height: 7em;
}

thead {
    font-family: Arial, Times, serif;
    font-weight: bold;
    background-color: $heavyBlue;
    color: $white;
    font-size: .35em;
    min-height: 7em;
}