$white: #ffffff;	
$babyBlue: #d0e1f9;
$jean: #4d648d ;
$blue: #283655;
$heavyBlue: #1e1f26;

body {
    margin-top: 5%;
    background-image: url(/assets/battle.jpg);
    
    // background-image: linear-gradient(-90deg, $cream, $tan, $salmon);    
  }

  button {
    margin-top: .25em;
    margin-bottom: .25em;
    background-color: $heavyBlue;
    color: $white;
  }

  .center {
    font-family: Arial, Times, serif;
    font-weight: bold;
    background-color: $blue;
    color: $heavyBlue;
    font-size: 4em;
    min-height: 7em;
  }
  
  .footer {
    background-color: $jean;
  }